<%= form_for(@message) do |f| %>


<% if @message.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@message.errors.count, "error") %>.
    </div>
    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class='form-inputs'>
    <div class="form-group">
      <%= f.text_field :messe %>
    </div>
  </div>
  <div class="form-actions">
    <%= hidden_field_tag "message[snsstudy_id]", current_user.id %>
    <%= hidden_field_tag "message[to_snsstudy_id]", @snsstudy.id %>
    <%= f.submit "メッセージを送る", class: 'btn btn-primary' %>
  </div>
<% end %>
