

<p><%= current_user.name %>さんが現在サインインしています</p>
 <p><%= current_user.id %></p>

<p>
  <strong>Name:</strong>
  <%= @snsstudy.name %>さんのメッセージボードです。
</p>


 <ul>
  <!--<%= debug @tsubyaki_items %>-->
      <% @mess.each do |mess| %>

<% if  @snsstudy_id.include?(mess.snsstudy_id) && @to_snsstudy_id.include?(mess.to_snsstudy_id) %>

      <li>

      <span><%= mess.snsstudy.name %></span>
      <span><%= mess.to_snsstudy_id %></span>
        「<span><%= mess.messe %></span>」
       
     <!--<% p mess %> ターミナルに結果--> 
      </li>
  <% else %>

    <% end %>

      <% end %>
  </ul>



  <!--メッセージ投稿フォーム-->
  <% unless current_user?(@snsstudy) %>
   <p>●<%= @snsstudy.name %>さんへのメッセージ</p>
   <%= render 'form' %>
  <% end %>

  <!--  <p><%= link_to 'Show',@snsstudy %></p>-->

 <%= link_to @snsstudy do %>
<strong><%= @snsstudy.name %>
<%= "さんのページ" %></strong>
<% end %>
    
